# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Misc
*.log
*.sqlite
*_tmp_*.sqlite
